absl-py                          
aiofiles                          
alexapy                           
anyio                             
app                               
asgiref                         
astunparse                        
async-lru                         
async-timeout                     
asyncio                           
attrs                             
authcaptureproxy                  
backoff                           
backports.entry-points-selectable 
beautifulsoup4                    
bs4                               
build                             
cachetools                        
certifi                           
cffi                              
chardet                           
charset-normalizer                
click                             
colorama                          
convert                           
discord                           
discord.py                        
distlib                          
Django                            
ffmpeg                            
ffprobe                           
filelock                          
flatbuffers                       
gast                              
google-api-core                   
google-api-python-client          
google-auth                       
google-auth-httplib2              
google-auth-oauthlib              
google-pasta                      
googleapis-common-protos          
grpcio                            
h11                               
h5py                              
httpcore                          
httplib2                          
httpx                             
idna                              
image                             
importlib-metadata                
Keras                             
keras-datasets                    
keras-nightly                     
Keras-Preprocessing              
lavalink                          
Markdown                          
multidict                       
numpy                             
oauth2client                      
oauthlib                          
olefile                           
opt-einsum                        
packaging                         
pep517                            
pexpect                           
Pillow                            
platformdirs                      
protobuf                          
ptyprocess                        
pyaes                             
pyasn1                            
pyasn1-modules                    
pycparser                         
PyNaCl                            
pyotp                             
pyparsing                        
Pyrogram                          
PySocks                           
pyTelegramBotAPI                  
python-dateutil                   
python-dotenv                     
pytz                              
PyYAML                            
requests                          
requests-oauthlib                 
rfc3986                           
rsa       
freeze
scipy                             
simplejson                        
six                               
sniffio                           
soupsieve                         
sqlparse                          
Strip                             
tensorboard-data-server          
tensorboard-plugin-wit            
tensorflow-estimator             
termcolor                        
toml                              
tomli                            
typer                             
typing-extensions                 
uritemplate                       
urllib3                           
virtualenv                        
Werkzeug                          
wheel                             
wrapt                             
yarl                              
youtube-dl                        
zipp
